<aside>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="">Accueil</a></li>
    <li class="list-group-item"><a href="">Analyse</a></li>
    <li class="list-group-item"><a href="">Commandes</a></li>
    <li class="list-group-item"><a href="">Catalogue</a></li>
    <li class="list-group-item"><a href="">Clients</a></li>
    <li class="list-group-item"><a href="">Service Client</a></li>
    <li class="list-group-item"><a href="">Livraison</a></li>
    <li class="list-group-item"><a href="">Paiement</a></li>
    <li class="list-group-item"><a href="">Réglages</a></li>
  </ul>
</aside>
